body {

    height: 100vh;
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {

    padding: 20px 55px;
    background: linear-gradient(to right, #345beb, #8f34eb);
    border: none;
    color: #fff;
    outline: none;
    font-size: 20px;
    border-radius: 35px;
    cursor: pointer;
}